KANVAS_API_URL=https://graphapidev.kanvas.dev/graphql
KANVAS_X_APP=your-app-uuid
KANVAS_EMAIL=your-email@example.com
KANVAS_PASSWORD=your-password
KANVAS_X_LOCATION=your-location-uuid
KANVAS_X_KEY=your-app-key
